@import "navbar";
@import "sidebar";
@import "item-card";
@import "items-page";
@import "items-view-page";

body {
    margin: 0;
    background-color: #112A4f;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}


.app {
	margin: 0;
    display: flex;
    flex-flow: column;
} 

main {
    margin: 40px auto;
    width: 95%;

}
